CACHE_URL=redis://cache:6379  # url of redis server
CACHE_AVAILABLE=true  # flag to prevent on build connect to redis server
CACHE_USE_LRU_FALLBACK=true  # Enable LRU cache fallback
X_API_KEY=random-string  # x-api-key to clean cache via api /api/flush-cache
